# We need to set larger timeout in order to le CI works.
# See
# * https://github.com/mui-org/material-ui/issues/12432#issuecomment-776634359
# * https://github.com/mui-org/material-ui-x/pull/1023

network-timeout 150000
