{
  "overrides": [
    {
      "files": "Makefile",
      "options": {
        "useTabs": true,
        "tabWidth": 4
      }
    },
    {
      "files": ["*.md"],
      "options": {
        "proseWrap": "always",
        "printWidth": 70
      }
    }
  ]
}
